

/* Header CSS */
.header-container {
    background-color: #000149;
    color: white;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.header-container a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1em;
    padding-left: 30px;
    
    
}

.header-links {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.header-links a:hover, .home-link:hover {
    color: rgb(180, 182, 255);
}


/* Body CSS */
.body-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 30px;
}

.project-element img {
    height: 10em;
    padding: 10px;
}

.project-element {
    border: 1px solid rgb(12, 11, 17);
    max-width: 400px;
    width: 100%;
    background: rgb(14, 10, 59);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 2px 2px 2px 1px rgba(47, 47, 48, 0.2);
    
}

.project-element:hover {
    background-color: #3543ff;
    
}

.project-element:active {
    transform: scale(0.98);
    background: rgb(6, 5, 27);
}

.project-image {
    height: 10em;
    padding: 10px;
}


.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    justify-items: center;
}

.detail-link {
    
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    
    
}

.detail-body {
    padding: 10px;
}

.projects-container {
    background-color: #040042;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    
}

.project-container {
    background-color: #040042;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    max-width: 600px;
}

.project-button, .github-link {
    background-color: rgba(14, 33, 82, 0.986);
    border: 1px solid rgb(12, 11, 17);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(47, 47, 48, 0.2);
    max-width: 200px;
    height: 40px;
    display: grid;
    margin: auto;
    
}

.project-button:hover, .github-link:hover {
    background-color: rgba(55, 57, 99, 0.986);
}

.project-button:active, .github-link:active {
    transform: scale(0.98);
    background: rgb(6, 5, 27);
}

.project-button a, .github-link {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
   
}

.github-link {
    margin-bottom: 20px;
    margin-top: 30px;
}


/* Sidebar CSS */
.contact-info {
    background: #3e49ee;
    margin: 15px;
    border-radius: 10px;
    padding: 20px;
    max-height: fit-content;

}


.contact-info-links {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.contact-info-links > a {
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.contact-info-links a:hover {
    color: rgb(180, 182, 255);
}

.personal-contacts {
    text-align: center;
    padding-bottom: 10px;
}

/* Contact Page CSS */

.contact-container div {
    margin-bottom: 20px;
   
}

.contact-container {
    background-color: #040042;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    max-width: 600px;
}

.contact-container input {
    padding: 10px;
    margin-top: 10px;
}

.send-contact-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20px;
    background-color: #28295a;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(12, 11, 17);
    margin-top: 20px;
    font-size: medium;

}

.send-contact-button:hover {
    background-color: #474899;
}

.send-contact-button:active {
    background-color: #14152c;
    transform: scale(0.98);
}

/* About CSS */

.about-container {
    background-color: #040042;
    border-radius: 10px;
    padding: 40px;
    max-width: 700px;
    margin-inline: auto;
}

.about-container div {
    padding-bottom: 20px;
}

.about-image {
    height: 20em;
    padding: 10px;
}

.projects-link {
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.projects-link:hover {
    color: rgb(180, 182, 255);
}

/* Home CSS */
.home-container {
    background-color: #040042;
    border-radius: 10px;
    padding: 40px;
    max-width: 600px;
    margin-inline: auto;
}

/* Footer CSS */
.footer-links, .footer-copyright {
    background: #00001d;
    text-align: center;
    color: white;
    width: 100%;
    padding: 20px;
}

.footer-copyright {
    padding-bottom: 0;
}

.footer-links {
    padding-top: 10px;
}
.footer-links > a {
    color: whitesmoke;
    margin: 0.5em;
    text-decoration: none;
}

.footer-links > a:hover {
    color: rgb(180, 182, 255);
}

@media (max-width: 1200px) {
    .project-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .body-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

}
