

/* Header CSS */
.header-container {
    background-color: #000149;
    color: white;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.header-container a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1em;
    padding-left: 30px;
    
    
}

.header-links {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.header-links a:hover, .home-link:hover {
    color: rgb(180, 182, 255);
}


/* Body CSS */
.body-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 30px;
}

.project-element img {
    height: 10em;
    padding: 10px;
}

.project-element {
    border: 1px solid rgb(12, 11, 17);
    max-width: 400px;
    width: 100%;
    background: rgb(14, 10, 59);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 2px 2px 2px 1px rgba(47, 47, 48, 0.2);
    height: fit-content;
    transition: margin 0.2s ease-in-out;
}

.project-element:hover {
    background-color: #3543ff;
    margin-top: -10px;
}

.project-element:active {
    transform: scale(0.98);
    background: rgb(6, 5, 27);
}

.project-image {
    height: 10em;
    padding: 10px;
}


.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    justify-items: center;
}

.detail-link {
    
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    
    
}

.detail-body {
    padding: 10px;
}



.project-button, .github-link {
    background-color: rgba(5, 13, 34, 0.986);
    border: 1px solid rgb(12, 11, 17);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(47, 47, 48, 0.2);
    max-width: 200px;
    height: 40px;
    display: grid;
    margin: auto;
    
}

.project-button:hover, .github-link:hover {
    background-color: rgba(55, 57, 99, 0.986);
}

.project-button:active, .github-link:active {
    transform: scale(0.98);
    background: rgb(6, 5, 27);
}

.project-button a, .github-link {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
   
}

.github-link {
    margin-bottom: 20px;
    margin-top: 30px;
}


/* Sidebar CSS */
.contact-info {
    background: #3e49ee;
    margin: 15px;
    border-radius: 10px;
    padding: 20px;

}


.contact-info-links {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.contact-info-links > a {
    margin: 10px;
}

.personal-contacts {
    text-align: center;
}

/* Contact Page CSS */


/* Footer CSS */



.footer-links, .footer-copyright {
    background: #00001d;
    text-align: center;
    color: white;
    width: 100%;
    padding: 20px;
}

.footer-copyright {
    padding-bottom: 0;
}

.footer-links {
    padding-top: 10px;
}
.footer-links > a {
    color: whitesmoke;
    margin: 0.5em;
    text-decoration: none;
}

.footer-links > a:hover {
    color: rgb(180, 182, 255);
}
